<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Кинотеатр{% endblock %}</title>
    <!-- Общие стили и скрипты -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <!-- Шапка сайта -->
        <a href="/" class="header">Главная</a>
        <a href="/movies" class="header">Фильмы</a>
    </header>

    <nav>
        <!-- Навигация -->
    </nav>

    <main>
        {% block content %}
        <!-- Содержимое страницы -->
        {% endblock %}
    </main>

    <footer>
        <!-- Подвал сайта -->
    </footer>
</body>
</html>